@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --light-green: #54e6af;
  --dark-blue: #2c344b;
  --very-dark-blue: #121725;
  --light-blue: #5a668a;
  --very-light-blue: #c2cbe5;
}
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Chivo", sans-serif;
  position: relative;
  background-color: var(--very-dark-blue);
}
body::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  z-index: -1;
}
h1 {
  font-weight: 300;
  color: var(--light-green);
  text-transform: uppercase;
}
h1 span {
  color: white;
  font-size: inherit;
}
img {
  display: block;
}
p {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--very-light-blue);
}
.container {
  display: flex;
  justify-content: space-between;
}
.container img {
  width: 15%;
}
::placeholder {
  font-weight: bold;
  font-size: 14px;
  opacity: 0.5;
}
.error {
  color: red;
}
.error .show {
  display: block;
}
@media (min-width: 375px) {
  body {
    padding: 50px 15px;
  }
  body::after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(assets/mobile/image-host.jpg);
    opacity: 0.1;
    background-size: contain;
  }
  main {
    width: 327px;
    height: 511px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 26px;
    line-height: 38px;
    text-align: center;
  }
  .logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 74px;
  }
  .container {
    margin: 52px 0;
  }
  #email {
    width: 100%;
    height: 46px;
    padding-left: 32px;
    background-color: var(--dark-blue);
    border-radius: 28px;
    border: 0px;
    margin-bottom: 10px;
  }
  #submit {
    width: 100%;
    height: 46px;
    border-radius: 28px;
    background-color: var(--light-green);
    border: 0;
    box-shadow: 0px 25px 20px rgba(84, 230, 175, 0.2);
  }
  .dots {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    padding: 50px 15px;
  }
  body::after {
    left: 40%;
    background-image: url(assets/tablet/image-host.jpg);
    opacity: 1;
  }
  main {
    position: relative;
    width: 635px;
    height: 509px;
    margin-top: 100px;
    padding-top: 93px;
    margin-left: 39px;
    background-color: var(--very-dark-blue);
  }
  h1 {
    margin: 0;
    padding: 0px;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
  }
  .logo {
    display: inline;
    margin-left: 39px;
  }
  main p {
    width: 75%;
    text-align: left;
  }
  .container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 52px 0;
  }
  form {
    position: relative;
  }
  #email {
    width: 67%;
    height: 56px;
    padding-left: 32px;
    background-color: var(--dark-blue);
    border-radius: 28px;
    border: 0px;
  }
  #submit {
    width: 25%;
    height: 46px;
    position: absolute;
    top: 0;
    left: 41%;
    margin-top: 5px;
    border-radius: 28px;
    background-color: var(--light-green);
    border: 0;
    box-shadow: 0px 25px 20px rgba(84, 230, 175, 0.2);
  }
  .dots {
    display: block;
    position: absolute;
    bottom: 0%;
    margin-left: 24px;
  }
}
@media (min-width: 1440px) {
  body {
    width: 1275px;
    margin-left: 165px;
    padding-right: 0;
  }
  body::after {
    background-image: url(assets/desktop/image-host.jpg);
    background-size: contain;

    top: 20%;
    right: 0%;
    opacity: 0.8;
  }

  .dots {
    right: 0;
    bottom: 13%;
  }
}
